/* WEDDING CHECKLIST CORE CSS STYLES - A CHECKLIST FOR ALL OF YOUR WEDDING NEEDS IN PLAIN HTML. 
   ORIGINAL CODING DONE BY NATHAN SMYTH
   THE FOLLOWING CODE IS DESIGNED TO BE UTILIZED BY WEDDING GUIDE
*/
@charset "utf-8";

/* BORDER STYLES */
.underline {
	border-bottom: black thin solid;	
}
.noline {
	border-bottom: none !important;
	border-top::none !important;
}
.border {
	border: black thin solid;	
}
.border-right {
	border-right: black solid thin;	
}
.border-bottom {
	border-bottom: black solid thin;	
}
.oneline {
	display: inline-block;
}

/* FONT TRACKING STYLES */
.font-small {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	text-align: center;
}
.h1 {
	font-size: 36px;
}
.h2 {
	font-size:24px;	
}
.h3 {
	font-size:18px;	
}
.bold {
	font-weight: bold;
}

/* INPUT STYLES */
.big-input {
	width: 98%;
}
.blank-input {
	background: white;
	border:none;
	height: 24px;
}
.mid-input {
	width: 48%;
}
.semi-big-input {
	width: 73%;
}
.small-input {
	width: 23%;
}

/* TABLE (NORMAL) STYLES */
#_table {
	display: table;
	width: 100%;
}
._tablerow {
	display: table-row;	
}
._tablecol {
	display: table-cell;
	width: 20% !important;
}
._tablelcol {
	display: table-cell;	
	width: 50%;
	float: left;
}
._tablemcol {
	display: table-cell;	
	width: 25%;
	float: left;
}
._tablercol {
	display: table-cell;
	width: 25%;	
	float: left;
}
._item {
	display: inline-block;
}
._itemtitle {
	border-top: black solid 1px;	
}
.cell {
	width: 12.5%;
	padding-left: 5px;
	padding-right: 5px;
}
.center {
	text-align: center;	
}

/* TABLE ALTERNATIVES (IN SIZE) */
.half-size {
	width: 50% !important;
}
.half-half-size {
	width: 20% !important;
}
.full-size {
	width: 80% !important;
} 

/* TABLE (6-COL) STYLES */
._tablel1col {
	display: table-cell;	
	width: 16%;
	float: left;
}
._tablel2col {
	display: table-cell;	
	width: 16%;
	float: left;
}
._tablem1col {
	display: table-cell;	
	width: 16%;
	float: left;
}
._tablem2col {
	display: table-cell;	
	width: 16%;
	float: left;
}
._tabler1col {
	display: table-cell;
	width: 16%;	
	float: left;
}
._tabler2col {
	display: table-cell;
	width: 16%;	
	float: left;
}

/* TABLE (6-COL FULL) STYLES */
._tablel1fullcol {
	display: table-cell;	
	width: 25%;
	float: left;
}
._tablel2fullcol {
	display: table-cell;	
	width: 25%;
	float: left;
}
._tablem1fullcol {
	display: table-cell;	
	width: 8%;
	float: left;
}
._tablem2fullcol {
	display: table-cell;	
	width: 8%;
	float: left;
}
._tabler1fullcol {
	display: table-cell;
	width: 25%;	
	float: left;
}
._tabler2fullcol {
	display: table-cell;
	width: 25%;	
	float: left;
}

/* TABLE (TRI-COL) STYLES */
._tabletrilcol {
	display: table-cell;	
	width: 33%;
	float: left;
}
._tabletrimcol {
	display: table-cell;	
	width: 33%;
	float: left;
}
._tabletrircol {
	display: table-cell;	
	width: 33%;
	float: left;
}

/* UL STYLES */
.no-dot {
	list-style: none;
}