/* ------------------------------- THEMING INFO --------------------------------------------- */
/*
GOLDEN_GLORY : http://colorschemedesigner.com/#1z226L4E6GNDe	
ASU : http://colorschemedesigner.com/#3L21Tw0w0w0w0
*/
/* ------------------------------- END THEMING INFO ---------------------------------------------*/
/* COLORS */
$colormain: #2A4480;
$colormain_alt: #FFAA00;

$color1: #317df0;
$color1_alt: #FF6600;

$color2: #8c4a9d;
$color2_alt: #E6E600;

$color3: #faca0e;
$color3_alt: #6A29AB;

$color4: #d6002d;
$color4_alt: #1947D1;
/* END COLORS */
$body-background: #FFF;
/*$top-background: #0c191f;*/
$wyo-button-background: #FFAA00;
$wyo-button-color: #000;

$back-button-background: #1240AB;
$back-button-color: #FFF;

$big-url-color: #000;
$big-url-background: #FFAA00;
$big-url-color-hover: #000;
$big-url-background-hover: #6C8CD5;

$mid-url-color: #000;
$mid-url-background: #FFAA00;
$mid-url-color-hover: #000;
$mid-url-background-hover: #FFAA00;

/* CONTAINER STYLES */
/* SINGLE LAYOUT */
$container-single-main-content-background: #E2E8F7;
$container-single-special-background: #E2E8F7;

/* DOUBLE LAYOUT */
$container-double-main-content-background: #E2E8F7;
$container-double-special-background: #E2E8F7;
$container-double-sidebar-background: #E2E8F7;

/* TRIPLE LAYOUT */
$container-triple-main-content-background: #E2E8F7;
$container-triple-special-background: #E2E8F7;
$container-triple-sidebar1-background: #E2E8F7;
$container-triple-sidebar2-background: #E2E8F7;

/* END CONTAINER STYLES */

/* FEATURED JQUERY SLIDER STYLES */
$featured-works-background: #5C5C5C;
$featured-works-inner-background: #5E5E5E;
$featured-works-inner-border-top-color: #2A4480;
$featured-works-inner-border-sides-color: #E6E6E6;
$featured-works-inner-border-bottom-color: #2A4480;

$featured-works-inner-border-top-size: 5px;
$featured-works-inner-border-bottom-size: 15px;
/* END FEATURED JQUERY SLIDER STYLES */

/* FOOTER STYLES */
$footer-background: #2A4480;
$footer-backtotop-background: #06266F;
$footer-backtotop-color: #FFF;
$footer-backtotop-border-color: #FFAA00;

$footer-backtotop-background-hover: #FFDF00;
$footer-backtotop-color-hover: #4C0AC5;
$footer-backtotop-border-color-hover: #4C0AC5;
/* END FOOTER STYLES */

/* FORMLAYOUT */
$formlayout-background: #FFF;
$formlayout-color: #000;

$formlayout-input-background: #1240AB;
$formlayout-input-color: #FFF;
$formlayout-input-hover-background: #FFAA00;
$formlayout-input-hover-color: #000;
$formlayout-input-focus-background: #FFAA00;
$formlayout-input-focus-color: #000;

/* HEADER STYLES */
$header-height: 75px;
$header-border-left: none;
$header-border-right: none;
$header-border-top: none;
$header-border-bottom: none;
$header-box-shadow-inset-color: #000;
/* END HEADER STYLES */

/* MODES STYLES */
$mode-background: #202020;
$mode-color: #808080;
$mode-header-color: #5e5e5e;
$mode-header-color-hover: white;
$mode-splash-col2-mid-background: white;
$mode-progress-bar-background: #5e5e5e;
$mode-inner-progress-bar-background: #AEAEAE;
$mode-fb-popup-background: white;
$mode-fb-popup-color: black;
/* END MODES STYLES */

/* MAIN LINK (OR HEADER) STYLES */
$main-link-color-padmain-background-active: #2A4480;
$main-link-color-padmain-background-hover: #2A4480;
$main-link-color-padmain-background-selected: #2A4480;
$main-link-color-padmain-background-selectedhover: #2A4480;

$main-link-color-padmain-color-active: #FFF;
$main-link-color-padmain-color-hover: #FFF;
$main-link-color-padmain-color-selected: #FFF;
$main-link-color-padmain-color-selectedhover: #FFF;

$main-link-color-pad1-background-active: #317df0;
$main-link-color-pad1-background-hover: #317df0;
$main-link-color-pad1-background-selected: #317df0;
$main-link-color-pad1-background-selectedhover: #317df0;

$main-link-color-pad1-color-active: black;
$main-link-color-pad1-color-hover: black;
$main-link-color-pad1-color-selected: black;
$main-link-color-pad1-color-selectedhover: black;

$main-link-color-pad2-background-active: #8c4a9d;
$main-link-color-pad2-background-hover: #8c4a9d;
$main-link-color-pad2-background-selected: #8c4a9d;
$main-link-color-pad2-background-selectedhover: #8c4a9d;

$main-link-color-pad2-color-active: black;
$main-link-color-pad2-color-hover: black;
$main-link-color-pad2-color-selected: black;
$main-link-color-pad2-color-selectedhover: black;

$main-link-color-pad3-background-active: #FFDF00;
$main-link-color-pad3-background-hover: #FFDF00;
$main-link-color-pad3-background-selected: #FFDF00;
$main-link-color-pad3-background-selectedhover: #FFDF00;

$main-link-color-pad3-color-active: black;
$main-link-color-pad3-color-hover: black;
$main-link-color-pad3-color-selected: black;
$main-link-color-pad3-color-selectedhover: black;

$main-link-color-pad4-background-active: #d6002d;
$main-link-color-pad4-background-hover: #d6002d;
$main-link-color-pad4-background-selected: #d6002d;
$main-link-color-pad4-background-selectedhover: #d6002d;

$main-link-color-pad4-color-active: black;
$main-link-color-pad4-color-hover: black;
$main-link-color-pad4-color-selected: black;
$main-link-color-pad4-color-selectedhover: black;
/* END MAIN LINK (OR HEADER) STYLES */

/* NAVIGATION STYLES */
$navigation-height: 75px;
$navigation-border-left: thin solid #000;
$navigation-border-right: thin solid #000;
$navigation-border-top: 5px #2A4480 solid;
$navigation-border-bottom: 5px #2A4480 solid;
$navigation-box-shadow-inset-color: #191919;

/* NAVIGATION LP LINK STYLES */
/* LP 1 STYLES */
$nav-link-LP1-1-background-normal: #06266F;
$nav-link-LP1-1-color-normal: white;
$nav-link-LP1-1-background-hover: #FFAA00;
$nav-link-LP1-1-color-hover: black;

$nav-link-LP1-2-background-normal: #06266F;
$nav-link-LP1-2-color-normal: white;
$nav-link-LP1-2-background-hover: #FFAA00;
$nav-link-LP1-2-color-hover: black;

$nav-link-LP1-3-background-normal: #06266F;
$nav-link-LP1-3-color-normal: white;
$nav-link-LP1-3-background-hover: #FFAA00;
$nav-link-LP1-3-color-hover: black;

$nav-link-LP1-4-background-normal: #06266F;
$nav-link-LP1-4-color-normal: white;
$nav-link-LP1-4-background-hover: #FFAA00;
$nav-link-LP1-4-color-hover: black;
/* END LP 1 STYLES */

/* LP 2 STYLES */
$nav-link-LP2-1-background-normal: #2764C0;
$nav-link-LP2-1-color-normal: white;
$nav-link-LP2-1-background-hover: #FF6600;
$nav-link-LP2-1-color-hover: black;

$nav-link-LP2-2-background-normal: #2764C0;
$nav-link-LP2-2-color-normal: white;
$nav-link-LP2-2-background-hover: #FF6600;
$nav-link-LP2-2-color-hover: black;

$nav-link-LP2-3-background-normal: #2764C0;
$nav-link-LP2-3-color-normal: white;
$nav-link-LP2-3-background-hover: #FF6600;
$nav-link-LP2-3-color-hover: black;

$nav-link-LP2-4-background-normal: #2764C0;
$nav-link-LP2-4-color-normal: white;
$nav-link-LP2-4-background-hover: #FF6600;
$nav-link-LP2-4-color-hover: black;
/* END LP 2 STYLES */

/* LP 3 STYLES */
$nav-link-LP3-1-background-normal: #62346E;
$nav-link-LP3-1-color-normal: white;
$nav-link-LP3-1-background-hover: #E6E600;
$nav-link-LP3-1-color-hover: black;

$nav-link-LP3-2-background-normal: #62346E;
$nav-link-LP3-2-color-normal: white;
$nav-link-LP3-2-background-hover: #E6E600;
$nav-link-LP3-2-color-hover: black;

$nav-link-LP3-3-background-normal: #62346E;
$nav-link-LP3-3-color-normal: white;
$nav-link-LP3-3-background-hover: #E6E600;
$nav-link-LP3-3-color-hover: black;

$nav-link-LP3-4-background-normal: #62346E;
$nav-link-LP3-4-color-normal: white;
$nav-link-LP3-4-background-hover: #E6E600;
$nav-link-LP3-4-color-hover: black;
/* END LP 3 STYLES */

/* LP 4 STYLES */
$nav-link-LP4-1-background-normal: #C8A20B;
$nav-link-LP4-1-color-normal: black;
$nav-link-LP4-1-background-hover: #6A29AB;
$nav-link-LP4-1-color-hover: white;

$nav-link-LP4-2-background-normal: #C8A20B;
$nav-link-LP4-2-color-normal: black;
$nav-link-LP4-2-background-hover: #6A29AB;
$nav-link-LP4-2-color-hover: white;

$nav-link-LP4-3-background-normal: #C8A20B;
$nav-link-LP4-3-color-normal: black;
$nav-link-LP4-3-background-hover: #6A29AB;
$nav-link-LP4-3-color-hover: white;

$nav-link-LP4-4-background-normal: #C8A20B;
$nav-link-LP4-4-color-normal: black;
$nav-link-LP4-4-background-hover: #6A29AB;
$nav-link-LP4-4-color-hover: white;
/* END LP 4 STYLES */

/* LP 5 STYLES */
$nav-link-LP5-1-background-normal: #AB0024;
$nav-link-LP5-1-color-normal: white;
$nav-link-LP5-1-background-hover: #1947D1;
$nav-link-LP5-1-color-hover: white;

$nav-link-LP5-2-background-normal: #AB0024;
$nav-link-LP5-2-color-normal: white;
$nav-link-LP5-2-background-hover: #1947D1;
$nav-link-LP5-2-color-hover: white;

$nav-link-LP5-3-background-normal: #AB0024;
$nav-link-LP5-3-color-normal: white;
$nav-link-LP5-3-background-hover: #1947D1;
$nav-link-LP5-3-color-hover: white;

$nav-link-LP5-4-background-normal: #AB0024;
$nav-link-LP5-4-color-normal: white;
$nav-link-LP5-4-background-hover: #1947D1;
$nav-link-LP5-4-color-hover: white;
/* END LP 5 STYLES */
/* END NAVIGATION LP LINK STYLES */

/* MODULE CONTAINER */
$module-container-mini-footer-title-background-normal: #FFF190;
$module-container-mini-footer-title-color-normal: black;

$module-container-mini-footer-title-background-hover: #FFDF00;
$module-container-mini-footer-title-color-hover: black;
/* END MODULE CONTAINER */

/* PAGES STYLES */
$pages-maincontent-title-background: #FFAA00;
$pages-maincontent-title-color: #000;
$pages-sidebar-title-background: #FFAA00;
$pages-sidebar-title-color: #000;

$pages-maincontent-content-background: #B6C6EA;
$pages-maincontent-content-color: black;

$pages-maincontent-content-author-color: #000;
$pages-maincontent-content-author-color-hover: #06266F;

$pages-maincontent-content-comments-color: #000;
$pages-maincontent-content-comments-color-hover: #06266F;

$pages-maincontent-content-category-color: #000;
$pages-maincontent-content-category-color-hover: #06266F;

$pages-maincontent-content-tags-color: #000;
$pages-maincontent-content-tags-inside-color: #06266F;
$pages-maincontent-content-tags-color-hover: #2A4480;
$pages-maincontent-content-tags-background: #FFF;

$pages-maincontent-content-date-gts-background: red;
$pages-maincontent-content-date-gts-color: 000;

$pages-maincontent-content-small-date-gts-background: red;
$pages-maincontent-content-small-date-gts-color: 000;

$pages-maincontent-content-date-background: #FFAA00;
$pages-maincontent-content-date-color: #000;

$pages-maincontent-content-small-date-background: #FFAA00;
$pages-maincontent-content-small-date-color: #000;

$pages-maincontent-content-inner-title-background: #FFDF00;
$pages-maincontent-content-inner-title-color: #000;

$pages-maincontent-content-inner-title-background-hover: #FFDF00;
$pages-maincontent-content-inner-title-color-hover: #06266F;

$pages-maincontent-content-inner-under-background: #6C8CD5;
$pages-maincontent-content-inner-under-color: #06266F;

$pages-maincontent-content-inner-under-a-color: #06266F;
$pages-maincontent-content-inner-under-a-color-hover: #FFAA00;

$pages-maincontent-content-inner-content-background: #FFF;
$pages-maincontent-content-inner-content-color: #000;

$pages-maincontent-content-inner-content-extra-background: #FFF;
$pages-maincontent-content-inner-content-extra-color: #000;

$pages-maincontent-content-inner-content-extra-items-background: #1240AB;
$pages-maincontent-content-inner-content-extra-items-color: #000;

$pages-maincontent-content-inner-content-extra-items-content-background: #6C8CD5;
$pages-maincontent-content-inner-content-extra-items-content-color: #000;

$pages-maincontent-content-inner-content-extra-items-title-background: #FFAA00;
$pages-maincontent-content-inner-content-extra-items-title-color: #000;

$pages-maincontent-content-inner-content-extra-items-postedby-background: #FFAA00;
$pages-maincontent-content-inner-content-extra-items-postedby-color: #000;

$pages-maincontent-content-inner-content-extra-items-postedby-a-color: #000;
$pages-maincontent-content-inner-content-extra-items-postedby-a-hover-color: #000;

$pages-maincontent-content-inner-content-a-color: #000;
$pages-maincontent-content-inner-content-a-color-hover: #000;

$pages-maincontent-content-inner-background: #6C8CD5;
$pages-maincontent-content-inner-color: black;

$pages-maincontent-content-readmorebtn-background: #06266F;
$pages-maincontent-content-readmorebtn-color: white;

$pages-sidebar-content-background: #B6C6EA;
$pages-sidebar-content-color: black;

$pages-sidebar-content-jq-background: #250267;
$pages-sidebar-content-jq-color: white;

$pages-sidebar-content-jq-col-background: #FFDF00;
$pages-sidebar-content-jq-col-color: black;

$pages-sidebar-content-jq-col-background-hover: #66A3FF;
$pages-sidebar-content-jq-col-color-hover: black;
/* END PAGES STYLES */

/* PAGINATION LINK STYLES */
$pagination-link-background: #FFAA00;
$pagination-link-color: #000;
$pagination-link-background-hover: #1240AB;
$pagination-link-color-hover: #FFF;
$pagination-link-border: thin black solid;
/* END PAGINATION LINK STYLES */

/* SEARCH STYLES */
$search-background: $colormain_alt;
$search1-background: $color1_alt;
$search2-background: $color2_alt;
$search3-background: $color3_alt;
$search4-background: $color4_alt;
$search-background-hover: #FFF;
/* END SEARCH STYLES */

/* TOOLKIT STYLES */
$toolkit-lps-first-a-background-normal: #1240AB;
$toolkit-lps-first-a-color-normal: white;
$toolkit-lps-first-a-background-hover: #FFAA00;
$toolkit-lps-first-a-color-hover: black;
$toolkit-lps-first-a-border-normal: thin solid white;
$toolkit-lps-first-a-border-hover: thin solid white;

$toolkit-lps-second-a-background-normal: #2A4480;
$toolkit-lps-second-a-color-normal: white;
$toolkit-lps-second-a-background-hover: #317df0;
$toolkit-lps-second-a-color-hover: black;
$toolkit-lps-second-a-border-normal: thin solid white;
$toolkit-lps-second-a-border-hover: thin solid white;

$toolkit-lps-third-a-background-normal: #06266F;
$toolkit-lps-third-a-color-normal: white;
$toolkit-lps-third-a-background-hover: #8c4a9d;
$toolkit-lps-third-a-color-hover: black;
$toolkit-lps-third-a-border-normal: thin solid white;
$toolkit-lps-third-a-border-hover: thin solid white;

$toolkit-lps-fourth-a-background-normal: #4671D5;
$toolkit-lps-fourth-a-color-normal: white;
$toolkit-lps-fourth-a-background-hover: #faca0e;
$toolkit-lps-fourth-a-color-hover: black;
$toolkit-lps-fourth-a-border-normal: thin solid white;
$toolkit-lps-fourth-a-border-hover: thin solid white;

$toolkit-lps-last-a-background-normal: #6C8CD5;
$toolkit-lps-last-a-color-normal: white;
$toolkit-lps-last-a-background-hover: #d6002d;
$toolkit-lps-last-a-color-hover: black;
$toolkit-lps-last-a-border-normal: thin solid white;
$toolkit-lps-last-a-border-hover: thin solid white;
/* END TOOLKIT STYLES */

/* TOP NAV STYLES */
$top-navigation-background: #06266F;
/* END TOP NAV STYLES */

/* TWEET STYLES */
$tweet-list-background: #1240AB;
$tweet-list-color: #FFF;
$tweet-list-even-background: #FFAA00;
$tweet-list-even-color: #000;
$tweet-list-even-a-color: #000;
$tweet-list-even-a-color-hover: #000;

$tweet-list-homepage-background: #FFAA00;
$tweet-list-homepage-color: #000;
$tweet-list-homepage-even-background: #8751E9;
$tweet-list-homepage-even-color: #000;
$tweet-list-homepage-even-a-color: #FFF;
$tweet-list-homepage-even-a-color-hover: #FFF;
/* END TWEET STYLES */

/* WORK CONTAINER */
$work-project-container-title-background: #2A4480;
$work-project-container-title-color: white;

$work-project-container-author-background: #2A4480;
$work-project-container-author-color: white;
$work-project-container-author-a-color: white;
$work-project-container-author-a-hover-color: white;

$work-project-container-launchbtn-background: #2A4480;
$work-project-container-launchbtn-color: white;
$work-project-container-launchbtn-a-color: white;
$work-project-container-launchbtn-a-hover-color: white;;

$work-project-container-description-background: #2A4480;
$work-project-container-description-color: white;
$work-project-container-description-a-color: white;
$work-project-container-description-a-hover-color: white;

$work-project-container-tags-background: #2A4480;
$work-project-container-tags-color: white;
$work-project-container-tags-a-color: white;
$work-project-container-tags-a-hover-color: white;
/* END WORK CONTAINER */
/* ----------------------------- END THEMING INFO ------------------------------------------- */