/* WEB INTERFACE TO LEARN & TO LOVE (WITLL) MODES CORE CSS */
/* WITLL WAS DEVELOPED AND DEBUGGED BY NATHAN SMYTH AND IS AVAILABLE TO BE USED AS A FREEWARE */
/* SOFTWARE BY ANYONE WHO CAN DECYFER THE CODE. HA JK. ALL YOU NEED TO DO IS RUN THE INSTALL  */
/* AND USE IT JUST LIKE YOU WOULD WORDPRESS                                                   */

/* PLEASE LEAVE THIS COPYRIGHT OWNERSHIP INFO INTACT AS YOU USE THIS PIECE OF WEB SOFTWARE    */
/* YOU CAN ALWAYS GET PLUGINS, THEMES, AND MODULES FROM WITLL.NET!!!                          */

/* ---------------------------- END OWNERSHIP INFO ------------------------------------------ */

/* ------------ YOU DO NOT NEED TO EDIT IHIS DOCUMENT BELOW THIS LINE THAT IS --------------- */
/* ------------- UNLESS YOU WANT TO ADD TO THE CSS. IF YOU WOULD LIKE TO JUST --------------- */
/* -------------- CHANGE THE COLOR SCHEME, THEN CHANGE IT IN COLORS.SCSS -------------------- */
/* --------------- THEN RUN THE RUBY SCRIPT (AND SAVE THIS FILE) TO UPDATE ------------------ */
/* ----------------------------------- THE .CSS FILE. ----------------------------------- */
/* DO NOT UNDER ANY CIRCUMSTANCES UPDATE THE .CSS DIRECTLY (EG. GOING INTO THE TM-ASSETS  */
/* DIRECTORY AND CHANGING ANYTHING THERE OR YOU WILL BREAK THE SCSS SYSTEM THAT I HAVE SO     */
/* NICELY SETUP HERE FOR YOU. ONLY EDIT THE .SCSS FILE FOR THE CORRESPONDING FILE. THANKS.    */

@import "../colors";
.message-top {
	font-size:22px;
	line-height: 1.8em;
}
.cbeta-top {
	font-size:14px;
	line-height: 2em;
}
.cbeta-mid {
	font-size:14px;
}
.panel-top {
	font-size:20px;
	line-height: 1.2em;
}
.panel-using {
	font-size:12px;
	line-height: 1.0em;
}
#status-update {
	font-size:11px;	
}
.top-sadminium {
	font-size:36px;
	line-height: .5em;
}
body {
	body {font: normal 14px/1.5em Tahoma; margin:0; width:100%; background:$mode-background; color: $mode-color;}
}
a {
	text-decoration: none;
	color: white;	
}
a:hover {
	text-decoration: underline;	
}
.white {
	color: black;
	text-decoration: none;	
}
.white:hover {
	text-decoration: underline;
}
.header {
	color: $mode-header-color;
	cursor: pointer;
}
.header:hover {
	color: $mode-header-color-hover;
}
#splash-container {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
#splash-container3 { /* sidebar col 2 (right) */
	float:left;
	width:100%;
	position:relative;
	left:0%;
	min-height: auto;
	
}
#splash-container2 { /* main content */
	float:left;
	width:100%;
	position:relative;
	left:-25%;
	min-height: auto;
	
}
#splash-container1 { /* sidebar col 1 (left) */
	float:left;
	width:100%;
	position:relative;
	left:-52%;
	min-height: auto;
}
#splash-col1 { /* main content */
	float:left;
	width:100%;
	position: relative;
	left: 0%;
	overflow:hidden;
}
#splash-col2 { /* sidebar content col 1*/
	float:left;
	width:52%;
	position: relative;
	left: 100%;
	overflow:hidden;
}
#splash-col2 #top {
	height: 100%;
}
#splash-col2 #mid {
	height: 450px;
	background: $mode-splash-col2-mid-background;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	behavior: url(images/border-radius.htc);
	-moz-box-shadow: inset 5px 8px 8px #191919;
	-webkit-box-shadow: inset 5px 8px 8px #191919;
	box-shadow: inset 5px 8px 8px #191919;
}
#mid-table {
	display: table;
	width: 100%;
}
#mid-table .mid-table-row {
	display: table-row;
	height: 10px;
}
#mid-table .mid-table-row #mid-table-leftcol {
	display: table-cell;
	width: 20%;
}
#mid-table .mid-table-row #mid-table-midcol {
	display: table-cell;
	width: 65%;
	text-align: center;
}
#mid-table .mid-table-row #mid-table-rightcol {
	display: table-cell;
	width: 20%;	
}
#splash-col2 #bottom {
	height: auto;
}
#splash-col3 { /* sidebar content col 2 */
	float:left;
	width:100%;
	position: relative;
	left: 0%;
	overflow:hidden;
}
#progress-bar {
	width: 100%;
	height: 40px;
	background: $mode-progress-bar-background;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	behavior: url(images/border-radius.htc);
	border: black thin solid;
}
#inner-progress-bar {
	width: 97.5%;
	height: 30px;
	background: $mode-inner-progress-bar-background;
	margin-top: 5px;
	margin-left: 5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	behavior: url(images/border-radius.htc);
	-moz-box-shadow: inset 0 0 8px #888;
	-webkit-box-shadow: inset 0 0 8px #888;
	box-shadow: inset 0 0 8px #888;
}

/* POPUP STYLES */
.fb-popup {
	background: $mode-fb-popup-background;
	color: $mode-fb-popup-color;
	min-width: 600px;
	max-height: 400px;
	max-width: 600px;
	min-height: 400px;
	left: 200px;
	top: 200px;
	padding: 10px;
	text-align: justify;
	word-wrap: break-word;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	behavior: url(images/border-radius.htc);
	border: thick solid #000;
}

/* END POPUP STYLES */