/* ------------------------------- THEMING INFO --------------------------------------------- */
/*
THE ROYAL N:
	Primary colors:
		1672A3 - fourth link,
		2F5366 - first link
		03344E - body, background, main link
		54AAD9 - second link	
		7FB9D9 - third link,
	Secondary colors:
		FF9416 - main pad color, first toolkit link
		A07644 - second toolkit link
		7A4303
		FFB45A
		FFCC90
*/
/* ------------------------------- END THEMING INFO ---------------------------------------------*/
$body-background: #101010;
/*$top-background: #0c191f;*/

/* FEATURED JQUERY SLIDER STYLES */
$featured-works-background: #5C5C5C;
$featured-works-inner-background: #5E5E5E;
$featured-works-inner-border-top-color: #8E8E8E;
$featured-works-inner-border-sides-color: #101010;
$featured-works-inner-border-bottom-color: #8E8E8E;
/* END FEATURED JQUERY SLIDER STYLES */

/* NAVIGATION STYLES */
$main-link-color-padmain-background-active: #03344E;
$main-link-color-padmain-background-hover: #03344E;
$main-link-color-padmain-background-selected: #03344E;
$main-link-color-padmain-background-selectedhover: #03344E;

$main-link-color-padmain-color-active: white;
$main-link-color-padmain-color-hover: white;
$main-link-color-padmain-color-selected: white;
$main-link-color-padmain-color-selectedhover: white;

$main-link-color-pad1-background-active: #03344E;
$main-link-color-pad1-background-hover: #03344E;
$main-link-color-pad1-background-selected: #03344E;
$main-link-color-pad1-background-selectedhover: #03344E;

$main-link-color-pad1-color-active: white;
$main-link-color-pad1-color-hover: white;
$main-link-color-pad1-color-selected: white;
$main-link-color-pad1-color-selectedhover: white;

$main-link-color-pad2-background-active: #03344E;
$main-link-color-pad2-background-hover: #03344E;
$main-link-color-pad2-background-selected: #03344E;
$main-link-color-pad2-background-selectedhover: #03344E;

$main-link-color-pad2-color-active: white;
$main-link-color-pad2-color-hover: white;
$main-link-color-pad2-color-selected: white;
$main-link-color-pad2-color-selectedhover: white;

$main-link-color-pad3-background-active: #03344E;
$main-link-color-pad3-background-hover: #03344E;
$main-link-color-pad3-background-selected: #03344E;
$main-link-color-pad3-background-selectedhover: #03344E;

$main-link-color-pad3-color-active: white;
$main-link-color-pad3-color-hover: white;
$main-link-color-pad3-color-selected: white;
$main-link-color-pad3-color-selectedhover: white;

$main-link-color-pad4-background-active: #03344E;
$main-link-color-pad4-background-hover: #03344E;
$main-link-color-pad4-background-selected: #03344E;
$main-link-color-pad4-background-selectedhover: #03344E;

$main-link-color-pad4-color-active: white;
$main-link-color-pad4-color-hover: white;
$main-link-color-pad4-color-selected: white;
$main-link-color-pad4-color-selectedhover: white;

/* NAVIGATION LP LINK STYLES */
/* LP 1 STYLES */
$nav-link-LP1-1-background-normal: #2F5366;
$nav-link-LP1-1-color-normal: white;
$nav-link-LP1-1-background-hover: #2F5366;
$nav-link-LP1-1-color-hover: black;

$nav-link-LP1-2-background-normal: #54AAD9;
$nav-link-LP1-2-color-normal: white;
$nav-link-LP1-2-background-hover: #54AAD9;
$nav-link-LP1-2-color-hover: black;

$nav-link-LP1-3-background-normal: #7FB9D9;
$nav-link-LP1-3-color-normal: white;
$nav-link-LP1-3-background-hover: #7FB9D9;
$nav-link-LP1-3-color-hover: black;

$nav-link-LP1-4-background-normal: #1672A3;
$nav-link-LP1-4-color-normal: white;
$nav-link-LP1-4-background-hover: #1672A3;
$nav-link-LP1-4-color-hover: black;
/* END LP 1 STYLES */

/* LP 2 STYLES */
$nav-link-LP2-1-background-normal: #2F5366;
$nav-link-LP2-1-color-normal: white;
$nav-link-LP2-1-background-hover: #2F5366;
$nav-link-LP2-1-color-hover: black;

$nav-link-LP2-2-background-normal: #54AAD9;
$nav-link-LP2-2-color-normal: white;
$nav-link-LP2-2-background-hover: #54AAD9;
$nav-link-LP2-2-color-hover: black;

$nav-link-LP2-3-background-normal: #7FB9D9;
$nav-link-LP2-3-color-normal: white;
$nav-link-LP2-3-background-hover: #7FB9D9;
$nav-link-LP2-3-color-hover: black;

$nav-link-LP2-4-background-normal: #1672A3;
$nav-link-LP2-4-color-normal: white;
$nav-link-LP2-4-background-hover: #1672A3;
$nav-link-LP2-4-color-hover: black;
/* END LP 2 STYLES */

/* LP 3 STYLES */
$nav-link-LP3-1-background-normal: #2F5366;
$nav-link-LP3-1-color-normal: white;
$nav-link-LP3-1-background-hover: #2F5366;
$nav-link-LP3-1-color-hover: black;

$nav-link-LP3-2-background-normal: #54AAD9;
$nav-link-LP3-2-color-normal: white;
$nav-link-LP3-2-background-hover: #54AAD9;
$nav-link-LP3-2-color-hover: black;

$nav-link-LP3-3-background-normal: #7FB9D9;
$nav-link-LP3-3-color-normal: white;
$nav-link-LP3-3-background-hover: #7FB9D9;
$nav-link-LP3-3-color-hover: black;

$nav-link-LP3-4-background-normal: #1672A3;
$nav-link-LP3-4-color-normal: white;
$nav-link-LP3-4-background-hover: #1672A3;
$nav-link-LP3-4-color-hover: black;
/* END LP 3 STYLES */

/* LP 4 STYLES */
$nav-link-LP4-1-background-normal: #2F5366;
$nav-link-LP4-1-color-normal: white;
$nav-link-LP4-1-background-hover: #2F5366;
$nav-link-LP4-1-color-hover: black;

$nav-link-LP4-2-background-normal: #54AAD9;
$nav-link-LP4-2-color-normal: white;
$nav-link-LP4-2-background-hover: #54AAD9;
$nav-link-LP4-2-color-hover: black;

$nav-link-LP4-3-background-normal: #7FB9D9;
$nav-link-LP4-3-color-normal: white;
$nav-link-LP4-3-background-hover: #7FB9D9;
$nav-link-LP4-3-color-hover: black;

$nav-link-LP4-4-background-normal: #1672A3;
$nav-link-LP4-4-color-normal: white;
$nav-link-LP4-4-background-hover: #1672A3;
$nav-link-LP4-4-color-hover: black;
/* END LP 4 STYLES */

/* LP 5 STYLES */
$nav-link-LP5-1-background-normal: #2F5366;
$nav-link-LP5-1-color-normal: white;
$nav-link-LP5-1-background-hover: #2F5366;
$nav-link-LP5-1-color-hover: black;

$nav-link-LP5-2-background-normal: #54AAD9;
$nav-link-LP5-2-color-normal: white;
$nav-link-LP5-2-background-hover: #54AAD9;
$nav-link-LP5-2-color-hover: black;

$nav-link-LP5-3-background-normal: #7FB9D9;
$nav-link-LP5-3-color-normal: white;
$nav-link-LP5-3-background-hover: #7FB9D9;
$nav-link-LP5-3-color-hover: black;

$nav-link-LP5-4-background-normal: #1672A3;
$nav-link-LP5-4-color-normal: white;
$nav-link-LP5-4-background-hover: #1672A3;
$nav-link-LP5-4-color-hover: black;
/* END LP 5 STYLES */
/* END NAVIGATION LP LINK STYLES */

/* TOOLKIT STYLES */
$toolkit-lps-first-a-background-normal: #7FB9D9;
$toolkit-lps-first-a-color-normal: black;
$toolkit-lps-first-a-background-hover: #03344E;
$toolkit-lps-first-a-color-hover: white;
$toolkit-lps-first-a-border-normal: thin solid white;
$toolkit-lps-first-a-border-hover: thin solid white;

$toolkit-lps-second-a-background-normal: #7FB9D9;
$toolkit-lps-second-a-color-normal: black;
$toolkit-lps-second-a-background-hover: #317df0;
$toolkit-lps-second-a-color-hover: black;
$toolkit-lps-second-a-border-normal: thin solid white;
$toolkit-lps-second-a-border-hover: thin solid white;

$toolkit-lps-third-a-background-normal: #7FB9D9;
$toolkit-lps-third-a-color-normal: black;
$toolkit-lps-third-a-background-hover: #8c4a9d;
$toolkit-lps-third-a-color-hover: black;
$toolkit-lps-third-a-border-normal: thin solid white;
$toolkit-lps-third-a-border-hover: thin solid white;

$toolkit-lps-fourth-a-background-normal: #7FB9D9;
$toolkit-lps-fourth-a-color-normal: black;
$toolkit-lps-fourth-a-background-hover: #faca0e;
$toolkit-lps-fourth-a-color-hover: black;
$toolkit-lps-fourth-a-border-normal: thin solid white;
$toolkit-lps-fourth-a-border-hover: thin solid white;

$toolkit-lps-last-a-background-normal: #7FB9D9;
$toolkit-lps-last-a-color-normal: black;
$toolkit-lps-last-a-background-hover: #d6002d;
$toolkit-lps-last-a-color-hover: black;
$toolkit-lps-last-a-border-normal: thin solid white;
$toolkit-lps-last-a-border-hover: thin solid white;
/* END TOOLKIT STYLES */
/* ----------------------------- END THEMING INFO ------------------------------------------- */