# Authentication for remote server; comment on local
# AuthType Basic
# AuthName "Nat4an.com BETA"
# AuthUserFile "/home/mrnat4an/.htpasswds/public_html/beta/passwd"
# require valid-user

Options +FollowSymLinks
RewriteEngine on
# first-level rewriting (launchpad and page)
RewriteRule ^([^/]+)/([^/]+)$ ?launchpad=$1&page=$2 [L]

# second-level rewriting (launchpad and page and subpage)
# RewriteRule ^([^/]+)/([^/]+)$ ?launchpad=$1&page=$2 [L]