body {font: normal 14px/1.5em Tahoma; margin:0; width:100%; background:#B2B2B2; color: #808080;}
body {
	body {font: normal 14px/1.5em Tahoma; margin:0; width:100%; background:#202020; color: #808080;}
}
a {
	text-decoration: none;
	color: black;	
}
a:hover {
	text-decoration: underline;	
}
.white {
	color: black;
	text-decoration: none;	
}
.white:hover {
	text-decoration: underline;
}
#container2 { /* MAIN CONTENT */
    float:left;
    width:100%;
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
}
#container1 { /* SIDEBAR */
    float:left;
    width:100%;
	background: #E6E6E6;
	position: relative;
	right: 85%;
	-moz-box-shadow: inset -5px -5px 10px #A7A7A7;
	-webkit-box-shadow: inset -5px -5px 10px #A7A7A7;
	box-shadow: inset -5px -5px 10px #A7A7A7;
}
#col1 {
    float:left;
    width:16%;
	position: relative;
	left: 84%;
	text-align: justify;
}
#col2 {
    float:left;
    width:80%;
	left: 85%;
	position: relative;
	text-align: justify;
}

/* SIDEBAR STYLES*/
#adminmenu {
	list-style: none;
	position: relative;
	top: -15px;
	left: -25px;
	width: 100%;
	margin-bottom: -15px;
}
.special {
	display: inline;
	float: right;
	padding-right: 10px;
	font-size:12px;
}
.special-active {
	display: inline;
	float: right;
	right: -6px;
	font-size:12px;
	position: relative;
}
.menu-submenu {
	overflow: hidden;
	margin-right: 0;
	margin-left: 0;
}
#under-adminmenu {
	min-height: 600px;
	clear: both;
	background: #CFCFCF;
	-moz-box-shadow: inset -5px 0px 10px #A7A7A7;
	-webkit-box-shadow: inset -5px 0px 10px #A7A7A7;
	box-shadow: inset -5px 0px 10px #A7A7A7;
}
.menu-first-item {
	background: #CFCFCF;
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-right: 15px;
	border-bottom: #eaeaea thin solid;
	-moz-box-shadow: inset -5px 0px 10px #A7A7A7;
	-webkit-box-shadow: inset -5px 0px 10px #A7A7A7;
	box-shadow: inset -5px 0px 10px #A7A7A7;
}
.menu-first-item a {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 0;
	padding-left: 10px;
}
.menu-first-item a:hover {
	background: #535353;
	color: white;
	text-decoration: none;
}
.selected-menu a {
	background: #535353;
	color: white;
	text-decoration: none;
}
.submenu-item a {
	display: block;
	font-size: 12px;
	text-indent: 10px;
	margin-right: 15px;
}
.submenu-item a:hover {
	text-decoration: none;
	background: #B2CCFF;
	opacity: .7;
}
.selected-page {
	text-decoration: none;
	background: #B2CCFF;
	margin-right: 15px;
	font-weight: bold;
	opacity: .7;
}
.toggle-menu {
	font-size: 14px;
	cursor: pointer;
	display: inline;
}
.hidden {
	display: none;	
}
.small {
	font-size:14px;
}
/* END SIDEBAR STYLES */

/* TOP BAR STYLES */
#top-bar {
	height: 30px;
	padding-left: 10px;
	padding-top: 6px;
	border-bottom: black thin solid;
}
/* END TOP BAR STYLES */