/* ------------------------------- THEMING INFO --------------------------------------------- */
/*
GOLDEN_GLORY : http://colorschemedesigner.com/#1z226L4E6GNDe	
*/
/* ------------------------------- END THEMING INFO ---------------------------------------------*/
$body-background: #FFF190;
/*$top-background: #0c191f;*/
$wyo-button-background: #250267;
$wyo-button-color: #fff;

$back-button-background: #FFDF00;
$back-button-color: #000;

$big-url-color: #000;
$big-url-background: #FFDF00;
$big-url-color-hover: #000;
$big-url-background-hover: #FFDF00;

$mid-url-color: #000;
$mid-url-background: #FFDF00;
$mid-url-color-hover: #000;
$mid-url-background-hover: #FFDF00;

/* CONTAINER STYLES */
/* SINGLE LAYOUT */
$container-single-main-content-background: #FFFFFF;
$container-single-special-background: #FFFFFF;

/* DOUBLE LAYOUT */
$container-double-main-content-background: #FFFFFF;
$container-double-special-background: #FFFFFF;
$container-double-sidebar-background: #FFFFFF;

/* TRIPLE LAYOUT */
$container-triple-main-content-background: #FFFFFF;
$container-triple-special-background: #FFFFFF;
$container-triple-sidebar1-background: #FFFFFF;
$container-triple-sidebar2-background: #FFFFFF;

/* END CONTAINER STYLES */

/* FEATURED JQUERY SLIDER STYLES */
$featured-works-background: #5C5C5C;
$featured-works-inner-background: #5E5E5E;
$featured-works-inner-border-top-color: #4D3082;
$featured-works-inner-border-sides-color: #E6E6E6;
$featured-works-inner-border-bottom-color: #4D3082;

$featured-works-inner-border-top-size: 5px;
$featured-works-inner-border-bottom-size: 15px;
/* END FEATURED JQUERY SLIDER STYLES */

/* FOOTER STYLES */
$footer-background: #4C0AC5;
/* END FOOTER STYLES */

/* FORMLAYOUT */
$formlayout-background: #AB89E9;
$formlayout-color: #000;

$formlayout-input-background: #250267;
$formlayout-input-color: #FFF;
$formlayout-input-hover-background: #4C0AC5;
$formlayout-input-hover-color: #FFF;
$formlayout-input-focus-background: #FFDF00;
$formlayout-input-focus-color: #000;

/* MODES STYLES */
$mode-background: #202020;
$mode-color: #808080;
$mode-header-color: #5e5e5e;
$mode-header-color-hover: white;
$mode-splash-col2-mid-background: white;
$mode-progress-bar-background: #5e5e5e;
$mode-inner-progress-bar-background: #AEAEAE;
$mode-fb-popup-background: white;
$mode-fb-popup-color: black;
/* END MODES STYLES */

/* NAVIGATION STYLES */
$navigation-height: 75px;
$navigation-border-left: thin solid #000;
$navigation-border-right: thin solid #000;
$navigation-border-top: 5px #4D3082 solid;

$main-link-color-padmain-background-active: #FFDF00;
$main-link-color-padmain-background-hover: #FFDF00;
$main-link-color-padmain-background-selected: #FFDF00;
$main-link-color-padmain-background-selectedhover: #FFDF00;

$main-link-color-padmain-color-active: black;
$main-link-color-padmain-color-hover: black;
$main-link-color-padmain-color-selected: black;
$main-link-color-padmain-color-selectedhover: black;

$main-link-color-pad1-background-active: #FFDF00;
$main-link-color-pad1-background-hover: #FFDF00;
$main-link-color-pad1-background-selected: #FFDF00;
$main-link-color-pad1-background-selectedhover: #FFDF00;

$main-link-color-pad1-color-active: black;
$main-link-color-pad1-color-hover: black;
$main-link-color-pad1-color-selected: black;
$main-link-color-pad1-color-selectedhover: black;

$main-link-color-pad2-background-active: #FFDF00;
$main-link-color-pad2-background-hover: #FFDF00;
$main-link-color-pad2-background-selected: #FFDF00;
$main-link-color-pad2-background-selectedhover: #FFDF00;

$main-link-color-pad2-color-active: black;
$main-link-color-pad2-color-hover: black;
$main-link-color-pad2-color-selected: black;
$main-link-color-pad2-color-selectedhover: black;

$main-link-color-pad3-background-active: #FFDF00;
$main-link-color-pad3-background-hover: #FFDF00;
$main-link-color-pad3-background-selected: #FFDF00;
$main-link-color-pad3-background-selectedhover: #FFDF00;

$main-link-color-pad3-color-active: black;
$main-link-color-pad3-color-hover: black;
$main-link-color-pad3-color-selected: black;
$main-link-color-pad3-color-selectedhover: black;

$main-link-color-pad4-background-active: #FFDF00;
$main-link-color-pad4-background-hover: #FFDF00;
$main-link-color-pad4-background-selected: #FFDF00;
$main-link-color-pad4-background-selectedhover: #FFDF00;

$main-link-color-pad4-color-active: black;
$main-link-color-pad4-color-hover: black;
$main-link-color-pad4-color-selected: black;
$main-link-color-pad4-color-selectedhover: black;

/* NAVIGATION LP LINK STYLES */
/* LP 1 STYLES */
$nav-link-LP1-1-background-normal: #8751E9;
$nav-link-LP1-1-color-normal: white;
$nav-link-LP1-1-background-hover: #8751E9;
$nav-link-LP1-1-color-hover: white;

$nav-link-LP1-2-background-normal: #8751E9;
$nav-link-LP1-2-color-normal: white;
$nav-link-LP1-2-background-hover: #8751E9;
$nav-link-LP1-2-color-hover: white;

$nav-link-LP1-3-background-normal: #8751E9;
$nav-link-LP1-3-color-normal: white;
$nav-link-LP1-3-background-hover: #8751E9;
$nav-link-LP1-3-color-hover: white;

$nav-link-LP1-4-background-normal: #8751E9;
$nav-link-LP1-4-color-normal: white;
$nav-link-LP1-4-background-hover: #8751E9;
$nav-link-LP1-4-color-hover: white;
/* END LP 1 STYLES */

/* LP 2 STYLES */
$nav-link-LP2-1-background-normal: #2F5366;
$nav-link-LP2-1-color-normal: white;
$nav-link-LP2-1-background-hover: #2F5366;
$nav-link-LP2-1-color-hover: black;

$nav-link-LP2-2-background-normal: #54AAD9;
$nav-link-LP2-2-color-normal: white;
$nav-link-LP2-2-background-hover: #54AAD9;
$nav-link-LP2-2-color-hover: black;

$nav-link-LP2-3-background-normal: #7FB9D9;
$nav-link-LP2-3-color-normal: white;
$nav-link-LP2-3-background-hover: #7FB9D9;
$nav-link-LP2-3-color-hover: black;

$nav-link-LP2-4-background-normal: #1672A3;
$nav-link-LP2-4-color-normal: white;
$nav-link-LP2-4-background-hover: #1672A3;
$nav-link-LP2-4-color-hover: black;
/* END LP 2 STYLES */

/* LP 3 STYLES */
$nav-link-LP3-1-background-normal: #2F5366;
$nav-link-LP3-1-color-normal: white;
$nav-link-LP3-1-background-hover: #2F5366;
$nav-link-LP3-1-color-hover: black;

$nav-link-LP3-2-background-normal: #54AAD9;
$nav-link-LP3-2-color-normal: white;
$nav-link-LP3-2-background-hover: #54AAD9;
$nav-link-LP3-2-color-hover: black;

$nav-link-LP3-3-background-normal: #7FB9D9;
$nav-link-LP3-3-color-normal: white;
$nav-link-LP3-3-background-hover: #7FB9D9;
$nav-link-LP3-3-color-hover: black;

$nav-link-LP3-4-background-normal: #1672A3;
$nav-link-LP3-4-color-normal: white;
$nav-link-LP3-4-background-hover: #1672A3;
$nav-link-LP3-4-color-hover: black;
/* END LP 3 STYLES */

/* LP 4 STYLES */
$nav-link-LP4-1-background-normal: #2F5366;
$nav-link-LP4-1-color-normal: white;
$nav-link-LP4-1-background-hover: #2F5366;
$nav-link-LP4-1-color-hover: black;

$nav-link-LP4-2-background-normal: #54AAD9;
$nav-link-LP4-2-color-normal: white;
$nav-link-LP4-2-background-hover: #54AAD9;
$nav-link-LP4-2-color-hover: black;

$nav-link-LP4-3-background-normal: #7FB9D9;
$nav-link-LP4-3-color-normal: white;
$nav-link-LP4-3-background-hover: #7FB9D9;
$nav-link-LP4-3-color-hover: black;

$nav-link-LP4-4-background-normal: #1672A3;
$nav-link-LP4-4-color-normal: white;
$nav-link-LP4-4-background-hover: #1672A3;
$nav-link-LP4-4-color-hover: black;
/* END LP 4 STYLES */

/* LP 5 STYLES */
$nav-link-LP5-1-background-normal: #2F5366;
$nav-link-LP5-1-color-normal: white;
$nav-link-LP5-1-background-hover: #2F5366;
$nav-link-LP5-1-color-hover: black;

$nav-link-LP5-2-background-normal: #54AAD9;
$nav-link-LP5-2-color-normal: white;
$nav-link-LP5-2-background-hover: #54AAD9;
$nav-link-LP5-2-color-hover: black;

$nav-link-LP5-3-background-normal: #7FB9D9;
$nav-link-LP5-3-color-normal: white;
$nav-link-LP5-3-background-hover: #7FB9D9;
$nav-link-LP5-3-color-hover: black;

$nav-link-LP5-4-background-normal: #1672A3;
$nav-link-LP5-4-color-normal: white;
$nav-link-LP5-4-background-hover: #1672A3;
$nav-link-LP5-4-color-hover: black;
/* END LP 5 STYLES */
/* END NAVIGATION LP LINK STYLES */

/* MODULE CONTAINER */
$module-container-mini-footer-title-background-normal: #FFF190;
$module-container-mini-footer-title-color-normal: black;

$module-container-mini-footer-title-background-hover: #FFDF00;
$module-container-mini-footer-title-color-hover: black;
/* END MODULE CONTAINER */

/* PAGES STYLES */
$pages-maincontent-title-background: #4C0AC5;
$pages-maincontent-title-color: #FFF;
$pages-sidebar-title-background: #4C0AC5;
$pages-sidebar-title-color: #FFF;

$pages-maincontent-content-background: #250267;
$pages-maincontent-content-color: black;

$pages-maincontent-content-author-color: #C9C9C9;
$pages-maincontent-content-author-color-hover: #8c4a9d;

$pages-maincontent-content-comments-color: #C9C9C9;
$pages-maincontent-content-comments-color-hover: #faca0e;

$pages-maincontent-content-category-color: #C9C9C9;
$pages-maincontent-content-category-color-hover: #d6002d;

$pages-maincontent-content-tags-color: #C9C9C9;
$pages-maincontent-content-tags-inside-color: #4C0AC5;
$pages-maincontent-content-tags-color-hover: #FFDF00;
$pages-maincontent-content-tags-background: #AB89E9;

$pages-maincontent-content-date-gts-background: red;
$pages-maincontent-content-date-gts-color: 000;

$pages-maincontent-content-date-background: #FFDF00;
$pages-maincontent-content-date-color: #000;

$pages-maincontent-content-inner-title-background: #FFDF00;
$pages-maincontent-content-inner-title-color: #FFDF00;

$pages-maincontent-content-inner-title-background-hover: #FFDF00;
$pages-maincontent-content-inner-title-color-hover: #FFDF00;

$pages-maincontent-content-inner-under-background: #8751E9;
$pages-maincontent-content-inner-under-color: #FFDF00;

$pages-maincontent-content-inner-under-a-color: #FFDF00;
$pages-maincontent-content-inner-under-a-color-hover: #FFDF00;

$pages-maincontent-content-inner-content-background: #AB89E9;
$pages-maincontent-content-inner-content-color: #000;

$pages-maincontent-content-inner-content-extra-background: #AB89E9;
$pages-maincontent-content-inner-content-extra-color: #000;

$pages-maincontent-content-inner-content-extra-items-background: #FFF190;
$pages-maincontent-content-inner-content-extra-items-color: #000;

$pages-maincontent-content-inner-content-extra-items-title-background: #250267;
$pages-maincontent-content-inner-content-extra-items-title-color: #FFF;

$pages-maincontent-content-inner-content-extra-items-postedby-background: #857400;
$pages-maincontent-content-inner-content-extra-items-postedby-color: #FFF;

$pages-maincontent-content-inner-content-extra-items-postedby-a-color: #FFF;
$pages-maincontent-content-inner-content-extra-items-postedby-a-hover-color: #FFF;

$pages-maincontent-content-inner-content-a-color: #000;
$pages-maincontent-content-inner-content-a-color-hover: #000;

$pages-maincontent-content-inner-background: #250267;
$pages-maincontent-content-inner-color: black;

$pages-maincontent-content-readmorebtn-background: #FFDF00;
$pages-maincontent-content-readmorebtn-color: black;

$pages-sidebar-content-background: #250267;
$pages-sidebar-content-color: white;

$pages-sidebar-content-jq-background: #250267;
$pages-sidebar-content-jq-color: white;

$pages-sidebar-content-jq-col-background: #FFDF00;
$pages-sidebar-content-jq-col-color: black;

$pages-sidebar-content-jq-col-background-hover: #AB89E9;
$pages-sidebar-content-jq-col-color-hover: black;
/* END PAGES STYLES */

/* PAGINATION LINK STYLES */
$pagination-link-background: #250267;
$pagination-link-color: #fff;
$pagination-link-background-hover: #FFDF00;
$pagination-link-color-hover: #000;
$pagination-link-border: thin black solid;
/* END PAGINATION LINK STYLES */

/* TOOLKIT STYLES */
$toolkit-lps-first-a-background-normal: #FFF190;
$toolkit-lps-first-a-color-normal: black;
$toolkit-lps-first-a-background-hover: #857400;
$toolkit-lps-first-a-color-hover: white;
$toolkit-lps-first-a-border-normal: thin solid white;
$toolkit-lps-first-a-border-hover: thin solid white;

$toolkit-lps-second-a-background-normal: #FFF190;
$toolkit-lps-second-a-color-normal: black;
$toolkit-lps-second-a-background-hover: #317df0;
$toolkit-lps-second-a-color-hover: black;
$toolkit-lps-second-a-border-normal: thin solid white;
$toolkit-lps-second-a-border-hover: thin solid white;

$toolkit-lps-third-a-background-normal: #FFF190;
$toolkit-lps-third-a-color-normal: black;
$toolkit-lps-third-a-background-hover: #8c4a9d;
$toolkit-lps-third-a-color-hover: black;
$toolkit-lps-third-a-border-normal: thin solid white;
$toolkit-lps-third-a-border-hover: thin solid white;

$toolkit-lps-fourth-a-background-normal: #FFF190;
$toolkit-lps-fourth-a-color-normal: black;
$toolkit-lps-fourth-a-background-hover: #faca0e;
$toolkit-lps-fourth-a-color-hover: black;
$toolkit-lps-fourth-a-border-normal: thin solid white;
$toolkit-lps-fourth-a-border-hover: thin solid white;

$toolkit-lps-last-a-background-normal: #FFF190;
$toolkit-lps-last-a-color-normal: black;
$toolkit-lps-last-a-background-hover: #d6002d;
$toolkit-lps-last-a-color-hover: black;
$toolkit-lps-last-a-border-normal: thin solid white;
$toolkit-lps-last-a-border-hover: thin solid white;
/* END TOOLKIT STYLES */

/* TWEET STYLES */
$tweet-list-background: #FFDF00;
$tweet-list-color: #000;
$tweet-list-even-background: #8751E9;
$tweet-list-even-color: #000;
$tweet-list-even-a-color: #000;
$tweet-list-even-a-color-hover: #000;

$tweet-list-homepage-background: #FFDF00;
$tweet-list-homepage-color: #000;
$tweet-list-homepage-even-background: #8751E9;
$tweet-list-homepage-even-color: #000;
$tweet-list-homepage-even-a-color: #000;
$tweet-list-homepage-even-a-color-hover: #000;
/* END TWEET STYLES */

/* SEARCH STYLES */
$search-background: #AB89E9;
$search-background-hover: #FFF190;
/* END SEARCH STYLES */

/* TOP NAV STYLES */
$top-navigation-background: #4C0AC5;
/* END TOP NAV STYLES */
/* ----------------------------- END THEMING INFO ------------------------------------------- */