/*
Huge Headline	=	32px	-	2.0em		(16 x 2.0   = 32)
Big Headline	=	24px	-	1.5em		(16 x 1.5   = 24)
Med Headline	=	22px	-	1.375em		(16 x 1.37  = 22)
Headline 1 		- 	20px	- 	1.25em		(16 x 1.25  = 20)
Headline 2 		- 	18px	- 	1.125em		(16 x 1.125 = 18)
Headline 3 		- 	16px	- 	1em			(16 x 1 	= 16)
Main text 		- 	14px	- 	0.875em		(16 x 0.875 = 14)
Sub text 		- 	12px	- 	0.75em		(16 x 0.75  = 12)
Footnotes 		- 	10px	- 	0.625em		(16 x 0.625 = 10)
*/
$fontmaster_hugeheadline: 2.0em;
$fontmaster_bigheadline: 1.5em;
$fontmaster_medheadline: 1.375em;
$fontmaster_headline1: 1.25em;
$fontmaster_headline2: 1.125em;
$fontmaster_headline3: 1em;
$fontmaster_maintext: 0.875em;
$fontmaster_subtext: 0.75em;
$fontmaster_footnotes: 0.625em;