@import "colors";

/* BASICS */
#header-leftcol {
	display: table-cell;
	width: 20%;
	background: #8c4a9d;
	vertical-align: middle;
	cursor: pointer;
	padding: 10px;
}
.searchClass {
	background: $search2-background !important;
	color: $search2-color !important;
}
.searchClass:hover {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlass {
	background: $search2-background !important;
	color: $search2-color !important;
}
.searchClassGlass:hover {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlassSelected {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlassSelected:hover {
	background: $search2-background !important;
	color: $search2-color !important;
}
.searchClass-noAdmaker {
	background: $search2-background !important;
	color: $search2-color !important;
}
.searchClass-noAdmaker:hover {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlass-noAdmaker {
	background: $search2-background !important;
	color: $search2-color !important;
}
.searchClassGlass-noAdmaker:hover {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlassSelected-noAdmaker {
	background: $search2-background-hover !important;
	color: $search2-color-hover !important;
}
.searchClassGlassSelected-noAdmaker:hover {
	background: $search2-background !important;
	color: $search2-color !important;
}
/* END BASICS */

/* NAVIGATION STYLES */
.nav-item-0 {
	display: table-cell; 
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #AF00A0;
}
.nav-item-0-active {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #363636;
}
.nav-item-0 a {
	text-decoration: none;
	color: white;
}
.nav-item-0 a:hover {
	
}
.nav-item-0-active a {
	text-decoration: none;
	color: white;
}
.nav-item-1 {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #FF1300;
}
.nav-item-1-active {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #363636;
}
.nav-item-1 a {
	text-decoration: none;
	color: white;
}
.nav-item-1 a:hover {
	
}
.nav-item-1-active a {
	text-decoration: none;
	color: white;
}
.nav-item-2 {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #00C422;
}
.nav-item-2-active {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #363636;
}
.nav-item-2 a {
	text-decoration: none;
	color: white;
}
.nav-item-2 a:hover {
	
}
.nav-item-2-active a {
	text-decoration: none;
	color: white;
}
.nav-item-3 {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #C6F500;
}
.nav-item-3-active {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	background: #363636;
}
.nav-item-3 a {
	text-decoration: none;
	color: white;
}
.nav-item-3 a:hover {
	
}
.nav-item-3-active a {
	text-decoration: none;
	color: white;
}
/* END NAVIGATION STYLES */