body {
	body {font: normal 14px/1.5em Tahoma; margin:0; width:100%; background:#202020; color: #808080;}
}
a {
	text-decoration: none;
	color: white;	
}
a:hover {
	text-decoration: underline;	
}
.white {
	color: black;
	text-decoration: none;	
}
.white:hover {
	text-decoration: underline;
}
.header {
	color: #5e5e5e;
	cursor: pointer;
}
.header:hover {
	color: white;
}
#splash-container {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
#splash-container3 { /* sidebar col 2 (right) */
	float:left;
	width:100%;
	position:relative;
	left:0%;
	min-height: auto;
	
}
#splash-container2 { /* main content */
	float:left;
	width:100%;
	position:relative;
	left:-25%;
	min-height: auto;
	
}
#splash-container1 { /* sidebar col 1 (left) */
	float:left;
	width:100%;
	position:relative;
	left:-52%;
	min-height: auto;
}
#splash-col1 { /* main content */
	float:left;
	width:100%;
	position: relative;
	left: 0%;
	overflow:hidden;
}
#splash-col2 { /* sidebar content col 1*/
	float:left;
	width:52%;
	position: relative;
	left: 100%;
	overflow:hidden;
}
#splash-col2 #top {
	height: 200px;	
	background: #202020;
}
#splash-col2 #mid {
	height: 520px;
	background: white;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-khtml-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	behavior: url(images/border-radius.htc);
	-moz-box-shadow: inset 5px 8px 8px #191919;
	-webkit-box-shadow: inset 5px 8px 8px #191919;
	box-shadow: inset 5px 8px 8px #191919;
}
#mid-table {
	display: table;
	width: 100%;
}
#mid-table .mid-table-row {
	display: table-row;
	height: 10px;
}
#mid-table .mid-table-row #mid-table-leftcol {
	display: table-cell;
	width: 20%;
}
#mid-table .mid-table-row #mid-table-midcol {
	display: table-cell;
	width: 60%;
	text-align: center;
}
#mid-table .mid-table-row #mid-table-rightcol {
	display: table-cell;
	width: 20%;	
}
#splash-col2 #bottom {
	height: 200px;	
	background: #202020;
}
#splash-col3 { /* sidebar content col 2 */
	float:left;
	width:100%;
	position: relative;
	left: 0%;
	overflow:hidden;
}
#progress-bar {
	width: 100%;
	height: 40px;
	background: #5e5e5e;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	behavior: url(images/border-radius.htc);
	border: black thin solid;
}
#inner-progress-bar {
	width: 97.5%;
	height: 30px;
	background: #AEAEAE;
	margin-top: 5px;
	margin-left: 5px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	behavior: url(images/border-radius.htc);
	-moz-box-shadow: inset 0 0 8px #888;
	-webkit-box-shadow: inset 0 0 8px #888;
	box-shadow: inset 0 0 8px #888;
}