/* BEGIN BOTTOMNAVIGATION STYLES */
#bottomnavigation {
 padding: 0px 0px;
 background: #317df0;
 margin: 0 auto;
 line-height: 1.9em; /* FIX FOR NAV LOCATED A BIT LOWER THAN MUSTACHE, IMP AS OF v2.5 */
 padding: 0;
 color: white;
 width: 100%;
 height: 50px;
}
#bottomnav-left {
 width: 93%;
 display: inline-block;
}
#bottomnav-right {
 width: 5%;
 display: inline-block;
 vertical-align:middle;
}
#bottomnavigation a {
 color: white;
 text-decoration: none;
}
/*#bottomnav a:hover {
 color: #297ACC;
 text-decoration: none; 
}*/
#bottomnavigation ul {
 margin: 0;
 padding: 9px;
 width: 100%;
}
#bottomnavigation li {
 display: inline;
 margin: 0;
 font-size: 15.5px;
 font-weight: bold;
 cursor: pointer;
 padding: 1.5% 3% 1.6% 3%;
 margin-left: -9px; /* fix to make nav fill all the way left on hover; IMP as of v2.6 */
 margin-right: 5px; /* fix to make nav fill all the way right on hover - no gaps; IMP as of v2.6 */
}
#bottomnavigation li:hover {
 display: inline;
 background: #5A97F3;
 font-weight: bold;
}
#bottomnavigation .active {
 display: inline;
 background: #5A97F3;
 font-weight: bold;
}
/* END BOTTOMNAVIGATION STYLES */

#head .left {
 
}

/* BEGIN NAVIGATION STYLES */
#navigation {
 padding: 0px 0px;
 background: #317df0;
 margin: 0 auto;
 line-height: 1.9em; /* FIX FOR NAV LOCATED A BIT LOWER THAN MUSTACHE, IMP AS OF v2.5 */
 padding: 0;
 color: white;
 width: 100%;
 height: 50px;
}
#nav-left {
 width: 93%;
 display: inline-block;
}
#nav-right {
 width: 5%;
 display: inline-block;
 vertical-align:middle;
}
#navigation a {
 color: white;
 text-decoration: none;
}
/*#nav a:hover {
 color: #297ACC;
 text-decoration: none; 
}*/
#navigation ul {
 margin: 0;
 padding: 9px;
}
#navigation li {
 display: inline;
 margin: 0;
 font-weight: bold;
 cursor: pointer;
 padding: 2% 3% 1.6% 3%;
 margin-left: -9px; /* fix to make nav fill all the way left on hover; IMP as of v2.6 */
 margin-right: 5px; /* fix to make nav fill all the way right on hover - no gaps; IMP as of v2.6 */
}
#navigation li:hover {
 display: inline;
 background: #5A97F3;
 font-weight: bold;
}
#navigation .active {
 display: inline;
 background: #5A97F3;
 font-weight: bold;
}
/* END NAVIGATION STYLES */

#rightcol {
	color: white;
}

option {
	background: #317df0;
	color: #FFF;
}
option:hover {
	background: #FFF;
}
.searchClass {
	background: #317df0;
}
.searchClass:hover {
	background: #5A97F3;
}
select {
	background: #317df0;
	color: #EAEAEA;
}
select:hover {
	background: #5A97F3;
	color: #EAEAEA;
}